body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f7f7f7;
  color: #333;
}

h1 {
  text-align: center;
  color: #2980b9;
}

form {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2980b9;
  color: #fff;
}

/* Added styles to position buttons side-by-side */
.buttons {
  display: flex; /* Make the buttons container a flexbox */
  justify-content: space-between; /* Distribute buttons horizontally */
}
